@{
    ViewData["Title"] = "Home Page";
}

<h1>Employee Leave Management App Demo</h1>
<h3>Built with ASP.NET Core and Entity Framework. Published to Azure Web Service an SQL Database </h3>

<h4>Admin Functions</h4>

<ul>
    <li>
        <p>See all Employees that are Signed Up</p>
    </li>
    <li>
        <p>Create Leave Allocations (Sick Leave, Holiday Leave, Hospitalization) and Allocate Leaves to Employees</p>
    </li>
    <li>
        <p>Overview of all Leave Requests and option to Approve or Disapprove Leave</p>
    </li>
    <li>
        <p>Login as <strong>admin@gmail.com<</strong> and <strong>P@ssword1</strong></p>
    </li>
</ul>
<br />

<h4>Employee Functions</h4>
<ul>

    <li>
        <p>Apply for Leave</p>
    </li>
    <li>
        <p>Check on status of Leave Application and Cancel any pending Leave Requests</p>
    </li>
    <li>
        <p>Login as <strong>user@gmail.com<</strong> and <strong>P@ssword1</strong></p>
    </li>
    <li>
        <p>Login as <strong>user2@gmail.com<</strong> and <strong>P@ssword1</strong></p>
    </li>
</ul>

